* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:beige;
    margin: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

header, nav, footer {
    text-align: center;
    gap: 16px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    display:inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0 0.1rem;
    border-radius: 0.5rem;
    color: white;
    background-color: seagreen;
}

main {
    display: flex;
    padding: 16px;
    gap: 16px;
    flex: 1;
}

.left {
    color: white;
    background-color:seagreen;
    order: 1;
    flex: 0 0 25%;
    padding: 16px;
}

article {
    order: 2;
    flex: 1;
    padding: 16px;
    gap: 16px;
}

.right {
    color:white;
    background-color:seagreen;
    order: 3;
    flex: 0 0 25%;
    padding: 16px;
}

@media (max-width: 768px) {

    main {
    flex-direction: column;

    article {
        order: 1; 
    }

    .left {
        order: 2; 
    }

    .right {
        order: 3; 
    }
}
}